td, th {
    border:1px solid #ddd
   }
   .redText {
    color: #ff0015
   }
   .Hintergrund{
    background-image: url("https://th.bing.com/th/id/OIP.dyhcTBSw3D8QdsbTu9uRAwHaEK?w=308&h=180&c=7&r=0&o=5&pid=1.7");
   }